<div class="movie">
  <h2>Title: {{title}}</h2>
  <img
    src="{{imageUrl}}">
  <p>Available Tickets: {{tickets}}</p><button><a href="#">Buy Ticket</a></button>
  <button><a href="#">Details</a></button>
</div>